@import "../../../../../assets/theme-builder/theme_builder";
.custom-navbar {
  padding: 0 16px;
  ::ng-deep {
    .mat-tab-links {
      .mat-tab-link {
        color: $text-on-surface;
        opacity: 0.87;
        min-width: 97px;
        line-height: 1.14;
          &.mat-tab-disabled {
            opacity: 0.6;
          }

        // font-family: 'Roboto Medium', sans-serif;
        @include fontFamily($fonts) {
          font-family: fonted(font-medium);
        }

        &.mat-tab-label-active {
          color: $primary-color;
        }
      }
    }

    .mat-ink-bar {
      background-color: $primary-color;
    }
  }
}

::ng-deep app-manage {
  position: relative;
  display: block;
}

