<div class="row">
  <div class="col-md-6">

 <!-- Accomplishments of the person -->
 <div class="overview-panel-container custom-row top-row bst_row_wrapper accomplishments mb-4">
  <div class="pad-b0 pad-x0 custom-col">
      <div class="panel custom-panel-wrapper bst_panel_wrapper details-panel-wrapper height-100 light-theme-bg-white">
          <div class="panel-heading  d-flex ai-c">
              <h4 class="f-18 lh-1_2 top-details-heading mar-b0 text-dark-black">Accomplishments</h4>
          </div>
          <div class="panel-body mnh-auto h-100 p-rel">
             <app-accomplishments></app-accomplishments>
          </div>
      </div>
  </div>
</div>
  </div>


  <div class="col-md-6">

<!-- Skills of the person -->
<div class="overview-panel-container custom-row top-row bst_row_wrapper skills mb-4">
  <div class="pad-b0 pad-x0 custom-col">
      <div class="panel custom-panel-wrapper bst_panel_wrapper details-panel-wrapper height-100 light-theme-bg-white">
          <div class="panel-heading  d-flex ai-c">
              <h4 class="f-18 lh-1_2 top-details-heading mar-b0 text-dark-black">Skills</h4>
          </div>
          <div class="panel-body mnh-auto h-100 p-rel">
            <app-skills></app-skills>
          </div>
      </div>
  </div>
</div>


  </div>
</div>

<div class="row">
  <div class="col-md-12">
     <!-- Recommendations of the person -->
     <div class="overview-panel-container recommendation-panel custom-row top-row bst_row_wrapper mb-4">
      <div class="pad-b0 pad-x0 custom-col">
        <app-recommendations></app-recommendations>
      </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
     <!-- Interests of the person -->
     <div class="overview-panel-container custom-row top-row bst_row_wrapper mb-4">
      <div class="pad-b0 pad-x0 custom-col">
          <div class="panel custom-panel-wrapper bst_panel_wrapper details-panel-wrapper height-100 light-theme-bg-white">
              <div class="panel-heading  d-flex ai-c">
                  <h4 class="f-18 lh-1_2 top-details-heading mar-b0 text-dark-black">Interests</h4>
              </div>
              <div class="panel-body mnh-auto h-100 p-rel">
                  <app-interests></app-interests>
              </div>
          </div>
      </div>
  </div>

  </div>
</div>
