/* Box Shadow Utils */

.dp-0 {
  box-shadow: none
}

.dp-1 {
  box-shadow: $shadow-10
}

.dp-2 {
  box-shadow: $shadow-20
}

.dp-3 {
  box-shadow: $shadow-30
}

.dp-4 {
  box-shadow: $shadow-40
}

.dp-5 {
  box-shadow: $shadow-50
}

.dp-6 {
  box-shadow: $shadow-60
}

.dp-7 {
  box-shadow: $shadow-70
}

.dp-8 {
  box-shadow: $shadow-80
}

