@import "../../../../assets/scss/theme/common/variable";

.clr-p87 {
  color: rgba($white, 0.87);
}
.clr-p54 {
  color: rgba($white, 0.54);
}
.clr-red {
  color: $error-state;
}
.single-comment {
  display: flex;
  margin-top: 10px;
  min-height: 54px;
  height: auto;

  .user-wrapper {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey;
    overflow: hidden;
    font-size: 11px;

    .avatar {
      object-fit: cover;
    }
  }
  .comment-content {
    width: calc(100% - 24px);
    border-bottom: 1px solid rgba($white, 12%);
    padding: 0 0 16px 16px;
    height: auto;
  }
}

.top-panel {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-info {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.5px;
  width: 100%;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(242, 240, 240, 0);
  }

  &:hover::-webkit-scrollbar-track {
    background: rgba(247, 244, 244, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba($white, 0.12);
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba($white, 0.12);
  }
  
}
.icon {
  font-size: 20px;
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}

::ng-deep .edit-comment-input {
  height: auto;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;

  .comment-mat-filed {
    border-bottom: 2px solid rgba($white, 0.5);
    width: 100%;
    min-height: 56px;
    height: auto;

    .mat-form-field-wrapper {
      height: 100% !important;
      min-height: 56px;
    }
    .mat-form-field-flex {
      height: 100% !important;
      min-height: 56px;
      padding: 0 4px 4px 16px !important;
    }
    .mat-form-field-infix {
      height: 100% !important;
      min-height: 56px;
      display: flex;
      align-items: center;
      padding: 10px 0;

      textarea {
        font-size: 16px;
        min-height: 56px;
        line-height: 1.8;

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0);
        }

        &:hover::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          background: rgba($white, 0.12);
        }

        &:hover::-webkit-scrollbar-thumb {
          background: rgba($white, 0.12);
        }
      }
    }
    .mat-form-field-label-wrapper {
      padding-top: 0;
    }
  }

  .mat-focused {
    border-color: $sky-blue !important;
    input {
      caret-color: $sky-blue !important;
    }
  }
}

.comment-action-btn {
  padding: 10px 16px;
  border-radius: $sm-comp-corner-radius;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 500;
  background-color: transparent;
  color: $sky-blue;
}

.cancel-btn {
  border-color: transparent;
}
.send-btn {
  border-color: $sky-blue;
}
.action-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 16px;
  align-items: center;
}
.document-attachment {
  color: $black;
}

.file-attachment {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: rgba($sky-blue, 0.25);
  height: 32px;
  padding: 0 10px;
  border-radius: $sm-comp-corner-radius;
  max-width: 100%;
  .icon {
    color: $sky-blue;
    font-size: 18px;
  }
  .doc-name {
    font-size: 12px;
    font-weight: 500;
    color: rgba($white, 0.87);
  }

  &:not(:first-child) {
    margin-top: 2px;
  }
}

.close-btn {
  display: flex;
  margin-left: 10px;
  background: rgba($white, 0.6);
  border-radius: 100%;
  padding: 3px;
  align-items: center;
  justify-content: center;
  border: none;

  .close-icon {
    font-size: 16px;
    color: rgba($black, 0.5);
  }
}

.download-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($black, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.created-date-fix{
  display: block;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 17px;
}
