<h5 class="login-header bst-headline5">Password Recovery</h5>

<form id="recoveryForm" name="form" [formGroup]="form" (ngSubmit)="recoverPassword()">
    <span class="login-form-text">Please provide either your username or your email</span>

    <mat-form-field class="bst-form-field text-field-with-prefix" appearance="fill"
                    [class.disabled]="disabled || form.get('email').value">
        <mat-icon class="bst-mat-icon material-icons-round" matPrefix>account_circle</mat-icon>
        <mat-label class="text-label">Username</mat-label>
        <div class="input-wrapper">
            <input matInput type="text"
                   #usernameInput id="username" name="username"
                   formControlName="username"
                   (change)="valueChanged()"
                   class="input-wrapper__text-input subtitle1 -webkit-autofill">
            <span class="input-wrapper__input-error-icon material-icons-round">error</span>
        </div>
    </mat-form-field>

    <mat-form-field class="bst-form-field text-field-with-prefix" appearance="fill"
                    [class.disabled]="disabled || form.get('username').value">
        <mat-icon class="bst-mat-icon material-icons-round" matPrefix>email</mat-icon>
        <mat-label class="text-label">Email</mat-label>
        <div class="input-wrapper">
            <input matInput type="text"
                   #emailInput id="email" name="email"
                   formControlName="email"
                   (change)="valueChanged()"
                   class="input-wrapper__text-input subtitle1 -webkit-autofill">
            <span class="input-wrapper__input-error-icon material-icons-round">error</span>
        </div>
        <mat-error class="text-error caption-typo" *ngIf="form.get('email').hasError('email')">Invalid email address</mat-error>
    </mat-form-field>

    <div class="bst-link-typo" style="display: inline-block" (click)="onBackToLogin()">Back to login screen</div>

    <button mat-button type="submit"
            style="float: right"
            [class.disabled]="!canSubmit()"
            [disabled]="!canSubmit()"
            class="bst-mat-btn-custom bst-mat-btn-custom--primary">Reset Password</button>
</form>