@import "../../../../../../assets/theme-builder/theme_builder";
::ng-deep app-input-text-renderer{
    width:100%;
}
.edit-icon{
    // color: rgba(255, 255, 255, 0.4);
    color: $text-on-surface;
    font-size: 16px;
}
.mxw-70{
    max-width: 70%;
}
.w-60{
    width:60px;
}
.edit-field{
    font-size: 15px;
    background:rgba(#009eff,0.1);
    border: none;
    border-radius: $sm-comp-corner-radius;
    border-bottom:2px solid $primary-color;
    border-bottom-left-radius: 0;
    // color:#fff;
    color: $text-on-surface;
    border-bottom-right-radius: 0;
    height: 28px;
    box-shadow: none;
}
.cancelIcon{
    color: #ef5350;
}
.saveIcon{
    color:$primary-color;
}