<style>
    .min-ht-360 {
        min-height: 360px;
    }
    
    #companyComplianceWorldMap svg {
        margin: auto;
        display: block;
        margin-left: 10%;
    }
    
    .orgdiagram {
        width: 100% !important;
    }
    
    .risk-rate-legends {
        bottom: 0%;
        top: 56%;
        position: absolute;
        z-index: 10;
        left: 1%;
    }
    
    .risk-rate-legends h4,
    .risk-rate-legends p {
        font-family: "Roboto Medium", sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.3px;
        color: #2d2d2d;
        display: inline-flex;
        margin: 0 1rem;
    }
    
    .risk-rate-legends span.very-high-risk {
        background-color: #a84778;
    }
    
    .risk-rate-legends span.high-risk {
        background-color: #f8ce00;
    }
    
    .risk-rate-legends span.medium-risk {
        background-color: #839cab;
    }
    
    .risk-rate-legends span.low-risk {
        background-color: #434343;
    }
    
    .risk-score-list-map ul {
        margin: 0px;
        padding: 0px;
    }
    
    .risk-score-list-map .risk-score-box {
        padding: 2% 4%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
        background-color: #2d424b;
    }
    
    .risk-score-list-map .risk-score-country-name {
        font-family: "Roboto Medium", sans-serif;
        font-size: 10px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: -0.3px;
        padding: 0px 1px;
        margin: 0px;
        display: inline-block;
    }
    
    .risk-score-list-map .risk-score-country-text {
        color: #879fa9;
        padding: 0px;
        margin: 0px;
        font-family: "Roboto Medium", sans-serif;
        font-size: 10px;
        /* font-weight: normal; */
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.2px;
        word-break: break-word;
    }
    
    .world-map-compliance #companyComplianceWorldMap svg {
        margin: auto !important;
        display: block !important;
    }
    
    .countries-risk-score-table {
        overflow-y: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    #countiesOperation {
        height: 250px;
    }
    
    .score-circle {
        float: left;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 3px;
    }
    
    .map-left-legends-text {
        margin-top: -5px;
        color: #a4a7a9 !important;
        font-weight: 600;
    }
    
    .map-left-legends-text-none {
        margin-top: -5px;
        color: #686868 !important;
        font-weight: 600;
    }
</style>
<!--  First Row Starts   -->
<button (click)="enableGenerateReportComponent(true)" id="enableGenerateReportComponent" style="display:none;"></button>
<button (click)="enableGenerateReportComponent(false)" id="disableGenerateReportComponent" style="display:none;"></button>
<div *ngIf="generateReport">
    <app-generate-report [countryNames]='countryNames' [showSubsidaries]='showSubsidaries' [tempOperationsForReport]='tempOperationsForReport' [screeningData]='screeningData' [entitySearchResult]="entitySearchResult" entity [complianceRightAdverseNews]="complianceRightAdverseNews"
        [sliderUtilitesobj]="sliderUtilitesobj" [queryParams]="queryParams" [createNewArrayReportData]='createNewArrayReportData' [rootComponentData]='rootComponentData'>
    </app-generate-report>
</div>

<app-company-info class=" d-grid grid-gap-5" [queryParams]='queryParams' [sourceList]="sourceList"></app-company-info>
<div class="bottom-row custom-row bst_row_wrapper">
    <div class="col-sm-6  pad-l0 custom-col">
        <app-location-hours></app-location-hours>
    </div>
    <div class="col-sm-6 pad-r0 custom-col">
        <app-amenities></app-amenities>
        <app-manager></app-manager>
    </div>
</div>
<div class="bottom-row  bst_row_wrapper h-500">
    <div class="col-sm-12 pad-r0 custom-col">
        <app-similar-companies></app-similar-companies>
    </div>
</div>
<div class="bottom-row custom-row bst_row_wrapper pad-top-20">
    <div class="col-sm-12  pad-l0 custom-col">
        <div class="pad-0 height-100 details-panel-wrapper panel custom-panel-wrapper bst_panel_wrapper  details-panel-wrapper mar-b0">
            <app-nearby-companies></app-nearby-companies>
        </div>
    </div>
</div>

<ng-template #screeningbadgepopover> <b>{{popoverDetails.name}} </b>{{popoverDetails.count}}</ng-template>
<ng-template #stickyNotes>
    <app-entity-clipboard></app-entity-clipboard>
</ng-template>