.user-image{
    border-radius: 50% !important;
    border: 5px solid #435561 !important;
    overflow: hidden !important;
  }
  .end{
    justify-content: flex-end !important;
  }
  .admin-dropdown-model{
    right: -8px !important;
  }