@import "../../../../../assets/scss/theme/common/variable";

.text-dark-black {
    color: $white;
    border: 0;
}

.custom-table {
    margin-top: 10px;

    thead {
        tr {
            background: $gull-grey4;
            min-height: 42px;

            th {
                color: $white;
                position: relative;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }

                &:not(:last-child)::after {
                    content: "";
                    border-right: 1px solid $dark-ash;
                    height: 60%;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
        }
    }

    table thead,
    table tbody tr {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        margin-bottom: 0;

        tbody {
            border: 1px solid $dark-ash;
            overflow-y: auto;
            height: 400px;
            display: block;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &::-webkit-scrollbar {
                width: 6px !important;
            }

            &::-webkit-scrollbar-thumb {
                background: $light-black-scroll !important;
                border-radius: 10px !important;
            }

            &::-webkit-scrollbar-track {
                background: $light-black-track !important;
            }

            .hover_column {
                background: $dark-grey12;
            }
        }

        td,
        th {
            padding: 11px 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            vertical-align: middle;
        }

        td {
            color: $title-color;
            border-bottom: 1px solid $dark-ash;
        }

        .matchbtn {
            border-radius: 20px !important;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            padding: 0.5rem;
        }

        .badge-warning {
            background: $light-yellow3 !important;
            color: $black !important;
        }

        .badge-danger {
            background: $error-state;
            color: $white;
        }

        .space {
            padding: 0.5rem 1.5rem;
        }

        .badge-success {
            background: $badge-green !important;
            color: $white !important;
        }

        .v-align {
            vertical-align: -webkit-baseline-middle;
            display: inline-block;
            margin-top: 5px;
            margin-left: 10px;
        }

        .td-content {
            display: flex;
            align-items: center;
        }

        .empty-space {
            width: 45px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .info-block {
            width: calc(100% - 55px);
        }
    }
}