<!-- <h5 class="login-header bst-headline5">{{ "sign_in_header" | translate}}</h5> -->

<form id="loginForm" name="form" [formGroup]="form" (ngSubmit)="signIn()">
    <mat-form-field class="bst-form-field text-field-with-prefix" appearance="fill" [class.disabled]="disabled">
        <mat-icon class="bst-mat-icon material-icons-round" matPrefix>account_circle</mat-icon>
        <mat-label class="text-label">{{ "username_field" | translate}}</mat-label>
        <div class="input-wrapper">
            <input matInput type="text"
                   #usernameInput id="username" name="username"
                   formControlName="username"
                   autocomplete="username"
                   class="input-wrapper__text-input subtitle1 -webkit-autofill">
        </div>
    </mat-form-field>

    <mat-form-field class="bst-form-field text-field-with-prefix" appearance="fill" [class.disabled]="disabled">
        <mat-icon class="bst-mat-icon material-icons-round" matPrefix>vpn_key</mat-icon>
        <mat-label class="text-label">{{ "password_field" | translate}}</mat-label>
        <div class="input-wrapper">
            <input matInput [type]="hidePassword ? 'password' : 'text'"
                   #passwordInput id="password" name="password"
                   formControlName="password"
                   autocomplete="current-password"
                   [errorStateMatcher]="errorMatcher"
                   class="input-wrapper__text-input subtitle1 -webkit-autofill">
            <span class="input-wrapper__input-error-icon material-icons-round">error</span>
            <mat-icon matSuffix class="input-wrapper__input-icon material-icons-round pointer" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        <mat-error class="text-error caption-typo" *ngIf="form.hasError('rejected')">{{ "invalid_username_password" | translate}}</mat-error>
    </mat-form-field>
    <!--<div class="bst-link-typo" style="display: inline-block" (click)="onPasswordRecovery()">Forgot password?</div>-->

    <button mat-button type="submit" style="float: right" class="bst-mat-btn-custom bst-mat-btn-custom--primary" [class.disabled]="!canSignIn()" [disabled]="!canSignIn()">{{"sign_in_button" | translate}}</button>
</form>
