@import "../../../../assets/scss/theme/common/variable";
@import "../../../../assets/scss/theme/common/mixin";

.card-hover {
 &:hover {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 12%;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
  }
 }
}
.date-wrapper {
  width: 256px;
  height: 28px;
  color:$text-on-surface;
  font-size: 16px;
}

.custom-scroll-wrapper {
  height: 60vh;
  // padding-bottom: 80px;
  overflow: auto;
}

.custom-card {
  padding: 15px 24px;

  .card-header {
    padding: 8px 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    h3 {
      font-size: 20px;
      font-weight: 550;
      padding-bottom: 3px;
    }
  }
}
.card-details{
  // background-color: rgba(#3087d8,0.12);
    margin-bottom: 10px;
    padding: 8px 16px;
    margin: 0px 24px 10px;
    margin-bottom: 12px;
    display: flex;
    .header-dt {
      // padding: 8px 16px 8px 12px;

      .initial-name-wrapper {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background: rgba(116, 116, 116, 0.8);
        font-size: 27px;
        margin-right: 5px;
        line-height: 1.9;
        text-align: center;
      }
    }
    p{
      color:$primary-color;
      line-height: 1.5;
      font-size: 1.4rem;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity:12%;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      border-radius: $sm-comp-corner-radius;
    }
}

.search-container {
  padding: 0 24px;

  .search-icon {
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
  }

  .search-input {
    padding-left: 50px;
    // margin: 15px 24px;
    min-width: 23rem;
    width: 100%;
    height: 40px;
    // background-color: rgba(255, 255, 255, 0.12);
    background-color : $input-group;
    border-color: rgba(255, 255, 255, 0.12);
    border-radius: $sm-comp-corner-radius;
    font-size: 1.6rem;
    // color: #fff;
    color: $text-on-surface;

    &::placeholder {
      // color: rgba(255, 255, 255, 0.6);
      color: $text-on-surface;
      font-size: 1.6rem;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.custom-scroll-wrapper {
  .custom-card {
    .card-header {
      h3 {
        font-size: 14px;
        text-transform: uppercase !important;
      }
    }
  }
}

.user-details-wrapper {
  padding-top: 0px;

  svg {
    width: 14px;
    height: 14px;
    color: $text-light-gray;
  }

  li {
    padding: 8px;
    // color: white;
    color: $text-on-surface;

    h5 {
      padding-left: 7px;
      text-transform: none;
      font-size: 14px;
    }

    .time-list {
      padding-left: 5px;
      white-space: nowrap;
    }

    .list-img,.list-name {
      position: absolute;
      left: 30px;
      margin-left: -25px;
      border-radius: 50%;
    }
  .list-name {
    background:$input-group;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    left: 25px;
  }
  .list-img {
    width: 20px;
    height: 20px;
  }

    .list-ico {
      width: 18px;
      height: 18px;
      background-color: #8661c6;
      border-radius: 25%;
    }
  }

  .audit-body * {
    // color: $text-light-gray;
    color: $text-on-surface;
    line-height: 1.40;
    // font-family: "Roboto Regular", sans-serif;
    @include fontFamily($fonts) {
      font-family: fonted(font-regular);
    }
    justify-content: space-between;
  }

  #demo0 {
    margin-top: 10px;

  }
}
.custom-panel-height{
  height: calc(100vh - 200px);
}
